
  .navbar-brand {
    color:black !important;
  }
  
  .nav-link, .dropdown-item {
    color: black !important;
  }
  
  .nav-link:hover, .dropdown-item:hover {
    color:black !important; /* Optional: Light gray on hover */
  }

  