/* General Styles */
.banner-img {
  margin-top: 60px;
}

/* Home Page Styles */
.home-page {
  display: flex;
  flex-direction: row; /* Ensure row direction for flexbox */
  flex-wrap: nowrap;  /* Prevent wrapping of items */
}

.home-page h1 {
  color: gray;
  font-family: "Playfair Display", serif;
  background-color: rgb(31, 37, 48);
}

/* Filters Column */
.filters {
  width: 25%; /* Fixed width for the filters column */
  height: 100vh; /* Full height of the viewport */
  overflow-y: auto; /* Enable vertical scrolling */
  position: sticky; /* Make the column fixed */
  top: 0; /* Stick to the top of the page */
  padding: 10px;
  border-right: 1px solid rgba(128, 128, 128, 0.337);
}

.filters h4 {
  margin-top: 55px;
  color: white !important;
  background-color: rgb(31, 37, 48); /* Yellow gold color */
  border: none;
  padding: 10px 20px; /* Padding for better appearance */
  text-align: center;
  display: inline-block;
  font-size: 16px; /* Font size */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  width: 100%; /* Full width */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Button-like shadow */
}

.filters h4:hover {
  background-color: #c4a923; /* Darker gold on hover */
}

.ant-checkbox-wrapper:first-of-type {
  margin-left: 8px;
}

.ant-checkbox-wrapper,
.ant-radio-wrapper {
  margin: 2px;
  margin-left: 10px;
}

.filters button {
  background-color: black;
  width: 100%;
  border: none;
  border-radius: 0;
  margin-top: 20px;
}

/* Products Section */
.products {
  width: 75%; /* Take the remaining width */
  padding: 10px;
  overflow-y: auto; /* Enable vertical scrolling */
}

.home-page .card {
  background-color: rgba(128, 128, 128, 0.097);
  width: 18rem;
  margin: 10px; /* Add some margin for spacing */
}

.home-page .card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-page .card-price {
  color: rgb(31, 37, 48);
  font-weight: bold;
}

.home-page button {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.home-page .card-text {
  color: rgb(90, 89, 89);
}

.home-page .card img:hover {
  transform: scale(0.9);
}

.home-page .card-img-top {
  height: 200px !important;
}

.loadmore {
  color: black;
  font-weight: bold;
  font-size: 20px !important;
}

.filters .filter-button {
  color: white !important;
  background-color: rgb(31, 37, 48); /* Yellow gold color */
  border: none;
  padding: 10px 20px; /* Padding for better appearance */
  text-align: center;
  display: inline-block;
  font-size: 16px; /* Font size */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
}

.filters .filter-button:hover {
  background-color: goldenrod; /* Darker gold on hover */
}

.btn-info-custom {
  background-color: white !important;
  color: black !important;
  border: 1px solid black;
  border-radius: 3px;
}